<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container" style="text-align: center; margin-top: -95px;"> <!-- Réduit de 100px à 30px -->

        <h1 class="dashboard-title">Tableau de Bord Analytique</h1>
        <p class="dashboard-subtitle">Données médicales en temps réel - Visualisation interactive</p>

        <!-- Iframe pour afficher le rapport Power BI -->
        <iframe id="rapport" title="Dashboard Power BI" width="1197" height="678"
          style="border: 5px solid #3f4d67; border-radius: 30px; margin-top: 20px;"
          src="https://app.powerbi.com/reportEmbed?reportId=6bc610ed-606f-45bf-bf67-8a4ed7ba94cd&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&filterPaneEnabled=false&navContentPaneEnabled=false&toolbarHidden=true"
          frameborder="0" allowfullscreen="true">
        </iframe>


      </div>
    </div>
  </div>
</header>